
.list {
    list-style: none; 
}
.link {
    text-decoration: none;
}
/* --------LOGORYP--------- */
.font{
    font-family: 'Roboto';
    color: #000;
}
.logotyp {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: #000;}
.part-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
        }
        /* ---------NAVIGATION--- -- */
.menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.menu-link:hover,
.menu-link:focus{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #2196F3;
}
.contact{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
}
.contact:hover,
.contact:focus{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.hero{
background: #2F303A;
}
/* -------- HERO ----------- */
.main-title{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        /* or 136% */
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #2F303A;
}
.modal-btn{
    font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        /* identical to box height, or 188% */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background: #2196F3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
}
.modal-btn:hover,
.modal-btn:focus{
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.contact-footer{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.contact-footer:hover,
.contact-footer:focus{
    color: #2196F3;
}

/* ---------- DESCRIPTION ------ -- */

.modal-btn-portfolio{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
      /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;    
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus{
    
    color: #FFFFFF;
    background: #2196F3;}

.points{
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
  .description{
    font-style: normal;
    font-weight: 400;
    font-size: 1.71;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
  }
  .services{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
       /* text-align: center;*/
        letter-spacing: 0.03em;
        color: #212121;
  }
  /* -- -------TEAM------- -- */
  .team{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        /* text-align: center; */
        letter-spacing: 0.03em;
        color: #212121;
  }
  .name{
        font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            /* identical to box height */
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
  }
  .job{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
  }
  /* -- ------FOOTER----- -- */
  .footer{
    background: #2F303A;
  }
  .logotyp-footer{
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
  .part-logo{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19px;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: #2196F3;
  }
  .address{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
        letter-spacing: 0.03em;
        color: #FFFFFF;
  }
  
  /* ============СТИЛИ ДЛЯ ПОРТФОЛИО========== */
  .menu-portfolio{
    /* position: absolute;
        width: 370px;
        height: 294px;
        left: 215px;
        top: 262px; */
        background: white;
  }
  .service-name{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
        letter-spacing: 0.06em;
        color: #212121;
  }
  .direction{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.88;
            /* identical to box height, or 188% */
            letter-spacing: 0.03em;
            color: #757575;}