h1,
h2,
h3,
h4,
p {
margin-top: 0;
margin-bottom: 0;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.list {
    list-style: none; 
}
.link {
    text-decoration: none;
}
body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #000;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.page-header{
  padding-top:24px ;
  padding-bottom: 25px ;
}
.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* --------LOGORYP--------- */
.logotyp {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
.part-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
        /* ---------NAVIGATION--- -- */
.menu-link:not(:last-child),
.menu-item:not(:last-child) {
   margin-right: 50px ;
}
.current::after{
  position: absolute;
  content: '';
    border-radius: 2px;
    width: 48px;
    height: 4px;
    top: 76px;
    background: #2196F3;
    border-radius: 2px;
    transition: background-color var(--transition-knob-color) ;
}
.page-nav{
  display: flex;
}
.menu-link-icon{
  margin-right: 10px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu{
  display: flex;
  align-items: center;
}
.menu-item{
color: #212121;
}
.menu-link:hover,
.menu-link:focus{
  color: #2196F3;
}
.contact{
  color: #757575;
}
.menu-link-icon{
  margin-right: 10px;
  fill: currentColor;
}

/* -------- HERO ----------- */

.hero{
    width: 1200;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    letter-spacing: 0.6em;
    font-weight: 900;
    font-size: 44px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),  url("../images/hero/Img.png");
    background-size: cover;
    /* background: #C4C4C4; */
}
.main-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 1200;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;
}
.modal-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.modal-btn:hover,
.modal-btn:focus{
    background: #188CE8;
}

/* -------rectangle-------- */

.location-details{
display: flex;
justify-content: center;
padding-top: 94px;
}
.location-rectangle:not(:last-child) {
  margin-right: 30px;
}
.uppercase{
  display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
    padding-top: 30px;
}
.description{
padding-top: 10px;
margin-right: 30px;
}
.rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    left: 215px;
    top: 774px;
    background: #F5F4FA;
    border-radius: 4px;
}

/* ----------------------------------------- */
.services{
    padding-top: 94px;
    padding-bottom:94px ;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 50px;
}
.images {
    display: flex; 
    flex-wrap: wrap;
      /* margin-right: calc(-1 * var(--standard-clearance));
      margin-bottom: calc(-1 * var(--standard-clearance)); */
}
.images-indent:not(:nth-child(3n)){
    margin-right: 30px;
}
.team-background {
    background: #F5F4FA;
}
.skill-description{
  height: 70px;
  top:-70px;
  bottom: 0;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  left: 0;
  position: relative;
    overflow: hidden;
}
.content-box{
  font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF; 
}
.location-label{
    display: block;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1208px;
}
.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
} 
.team {
    display: flex;
}
.socail-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #FFFFFF; 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socail-list-link:hover,
.socail-list-link:focus {
  background: #2196F3;
}
.socail-list-link:hover .socail-list-icon,
.socail-list-link:focus .socail-list-icon{
      fill: #FFFFFF;
}
.socail-list{
display: flex;
justify-content: center;
gap: 10px;
padding-bottom: 30px;
}
.socail-list-icon {
    fill: #afb1b8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    background: #FFFFFF;
}
.h-card {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}
.name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: #212121;
}
.job {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 16px;
    /* identical to box height */
    text-align: center;
    color: #757575;
}

/* ---------- DESCRIPTION ------ -- */
.points{
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
}
  .description{
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #757575;
  }
  .services{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
  }
  /* ---------------------ПОСТОЯННЫЕ КЛИЕНТЫ------------------------------------ */
  .clients{ 
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
    padding-top: 94px;
    padding-bottom: 50px;
  }
  .menu-client:not(:last-child) {
      margin-right: 30px;
  }
  .clients-icon-location{
    display: flex;
    padding-bottom: 94px;
    
  }
  .clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} 
  .clients-link:hover,
  .clients-link:focus{
    color: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 4px;
  }
  .clients-link {
    fill: currentColor; 
    }
    /* .clients-icon{
      transition: fill 2500ms;
    } */
  /* -- ------FOOTER----- -- */
 
  .footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .location-footer{
    display: flex;
  }
  .logotyp-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
  }
  .part-logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    color: #2196F3;
  }
  .address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
  }
  .location-address{
    margin-top: 20px;
  }
  .contact-footer{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .location-contact{
    margin-top: 9px;
  }
   .contact-footer:hover,
   .contact-footer:focus{
    color: #2196F3;
   }
   .location-footer-media {
       display: flex;
       align-items: center;
       padding-top: 12px;
    padding-left: 70px;
   }
   .media { 
       font-weight: 700;
       font-size: 14px;
       line-height: 1.14;
       text-transform: uppercase;
       color: #FFFFFF; 
   }
   .media-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: #FFFFFF;
        background:rgba(255, 255, 255, 0.1);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
   .media-footer{
        fill: currentColor;
    }
   .icon-list-footer {
       display: flex;
       padding-top: 20px;
       gap: 10px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .media-footer:hover,
   .media-footer:focus{
   background: #2196F3;
}
   .footer-icon {
      display: block;
   }
  
  /* ============СТИЛИ ДЛЯ ПОРТФОЛИО========== */
 
    .current-portfolio::after {
       position: absolute;
      content: '';
      border-radius: 2px;
      width: 78px;
      height: 4px;
      top: 76px;
      background: #2196F3;
      border-radius: 2px;
      transition: background-color var(--transition-knob-color);
    }
 .portfolio-line{
    top: 80px;
    border-bottom: 1px solid #ECECEC;
 }
 .content{
    padding-top: 94px;
    padding-bottom: 94px;
 }
  .buttons-container{
    display: flex;
    justify-content: center; 
    margin-bottom: 50px;
  }
  .buttons-location:not(:last-child){
    margin-right: 8px
  }
  .modal-btn-portfolio {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.63;
      border-radius: 4px;
      padding-top: 6px;
      padding-right: 22px;
      padding-bottom: 6px;
      padding-left: 22px;
      background: #F5F4FA;
      border: 1px solid#F5F4FA;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn-portfolio:hover,
  .modal-btn-portfolio:focus {
      color: #FFFFFF;
      background: #2196F3;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      border: 1px solid #2196F3;
  }
  .list-menu:not(:nth-child(3n)){
    margin-right: 27px;
  }
  .overlay{
    font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      /* or 156% */
      position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top: 0;
        padding-top: 63px;
        padding-bottom: 63px;
        padding-left: 24px;
        padding-right: 24px;
      color: #FFFFFF;
      background: rgba(33, 150, 243, 0.9);
      /* overflow-y: scroll; */
      transform: translate(0, 100%);
      transition: transform 500ms linear;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-list-link-wrapper{
   display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-list-img-wraper{
    position: relative;
    overflow: hidden;
  }
    .team-list-link-wrapper:hover .overlay,
    .team-list-link-wrapper:focus .overlay{
transform: translate(0, 0);
  }
  .menu-portfolio{
        display: flex;
        flex-wrap: wrap;
        background: white; 
  }
  .name-card{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .menu-card{
    flex-basis: calc((100% - 2 * 30px) / 3);
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
  }
  .menu-card:hover,
  .menu-card:focus
  {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .indent{
    margin-bottom: 30px;
  }
  .service-name{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: #212121;
  }
  .direction{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        color: #757575;
        }
        /* ------------------MODAL WINDOW------------------ */
 .backdrop{
position: fixed;
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.2);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px; */
}   
.modal-close-btn-icon{
  position: absolute;
  display: flex;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
}
.modal-close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
.modal-close-btn:hover,
.modal-close-btn:focus{
  border-color: var(--accent-color);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon{
  fill: var(--accent-color);
}
  